<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Contact management System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>

<body>
  <div class="page-header">
     <center><h1>Contact management System</h1></center>
  </div>
 <br><br><br><br> 
 
   
 <div class="col-xs-offset-4">
	 <div class="col-sm-7"> 
		<a href="/add_contact/" style="text-decoration:none">
	            <button type="button" class="btn btn-primary btn-lg btn-block" >Add New Contact</button>
		</a>
		<br>
		<a href="/display_contact/" style="text-decoration:none">
	            <button type="button" class="btn btn-default btn-lg btn-block">Display All Contacts</button>
		</a>
	 </div>
 </div>  

</body>
</html>
