<!DOCTYPE html>
<html>
<head>
    <title>Login Error</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
<div class="page-header">
  <center><h1>Contact management System</h1></center>
</div>
 <br><br><br><br> 
 <div class="col-xs-offset-5">
   <div class="col-xs-4">
    <div class="alert alert-danger"><a href="/home/" class="alert-link"><center>Invalid Username/Password </center></a></div>
   </div>  
 </div>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
